// Fonts families
$font-Muli-Regular: 'Muli Regular',sans-serif;
$font-Muli-Bold: 'Muli Bold',sans-serif;
$font-PlayfairDisplay-Bold: 'Playfair Display Bold',sans-serif;
$font-PlayfairDisplay-SemiBoldItalic: 'Playfair Display SemiBold Italic',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 18px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
